.btn-pos {
  padding: 60px;
  position: relative;
  bottom: 30px;

  .btn {
    background: #1e85fe;
    border: 1px solid #d1d1d1;
    border-radius: 27px;
    width: 408px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
  }

  .arrow {
    position: relative;
    left: 5px;
  }
}
