/*-------------COLORS-------------------*/
$color-background: #ffffff;
$color-previous-button: #b2becc;
$color-title: #555a69;
$color-error: #ff0000;
$color-input-border: #1e85fe;
$color-cyrcle-border: #d1d1d1;
$color-text: #000000;
$color-placeholder: #d3d3d3;

/*------------COMPONENT VARIABLES------------*/
$input-radius: 27px;
