.form {
  width: 570px;
  height: 670px;
  // background-color: $white;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  gap: 30px;
}
.input-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.body-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #555a69;
  padding: 35px;
  line-height: 40px;
}
