.section {
  width: 80%;
  // background-color: #f6f4d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;

  .btn-previous {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #b2becc;

    .arrow {
      position: relative;
      top: 2px;
      margin-right: 8px;
    }

    .btn-text {
      font-family: "Inter";
      font-size: 14px;
      font-weight: 700;
      color: #b2becc;
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #dde8ff;

    .circle-text {
      font-family: "Inter";
      font-size: 22px;
      font-weight: 700;
      color: #000000;
    }
  }

  .btn-reset {
    border: none;
    cursor: pointer;
    background-color: transparent;

    .btn-text-reset {
      font-family: "Inter";
      font-size: 14px;
      font-weight: 700;
      color: #1e85fe;
    }
  }
}
